* {
    margin: 0;
    padding 0;
    box-sizing: border-box;
}

body {
    font-family: arial,sans-serif;
    padding: 2.5rem;
    background-color: #f5f5f5;
}

#registrationForm {
    max-width: 500px;
    margin: 0 auto;
    background: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 1.5rem;
    color: #345434;
    text-align: center;
}

.form-group {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color:#345434;
}

input {
    width: 100%;
    padding: 0.85rem;
    border: 2px solid #ddd;
    font-size: 1rem;
}

button {
    width: 50%;
    padding: 1rem;
    background-color: #67b25d;
    color: #345434;
    font-weight: bold; 
    font-size: 1rem;
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: #345434;
    color:#ddd;
}

input:focus {
    outline: none; 
    border-color: #67b25d;
    box-shadow: 0 0 0 3px rgba(0, 102, 204, 0.1);
}

button:focus {
    outline: 3px solid #67b25d;
    outline-offset: 2px;
}